a {
  transition: all 0.15s ease;
}

/* text-yellow-500 */
a:hover {
  color: #f59e0b;
  text-decoration: none;
}

.text-orange {
  color: #f59e0b !important;
  fill: #f59e0b !important;
}
